.cardWrapper {
    width: 25%;
    padding: 0 30px 60px;
}
.cardRow {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -30px;
}
.cardWrapper h4 {
    font-size: 18px;
    margin: 0 0 15px;
}
.cardWrapper div, .cardWrapper a {
    height: 100%;
}
.cardWrapper p {
    font-size: 15px;
    margin: 0 0 10px;
}
.cardWrapper p:last-child {
    margin: 0;
}
.cardWrapper p span {
    font-weight: 600;
}
.cardWrapper a > div {
    box-shadow: 0 5px 10px rgb(152 151 151 / 20%);
}
@media only screen and (max-width: 1200px) {
    .cardWrapper {
        width: 33.333%;
    }
}
@media only screen and (max-width: 1024px) {
    .cardWrapper {
        width: 50%;
    }
}
@media only screen and (max-width: 767px) {
    .cardWrapper {
        width: 100%;
    }
    .cardRow {
        margin: 0 ;
    }
}